name: Autotests
on: [push, pull_request]
jobs:
  autotests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'ono-tebe-nado-ad'